.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    row-gap: 10px;
    column-gap: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 0fr;
    row-gap: 10px;
    column-gap: 10px;
}