* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.logout {
  width: auto;
  height: 48px;
  background-color: #010080;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.system {
  color: white;
}
.button {
  color: white;
}
.tabdent {
  margin-bottom: 20px;
}
.tabname {
  margin-top: 65px;
}
.tablname {
  margin-top: 45px;
}
.tabprob {
  margin-bottom: 20px;
}
.tabdate {
  margin-bottom: 20px;
}
.web {
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  /* border-bottom: 1px solid gainsboro; */
}
.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gainsboro;
}
.icon {
  padding: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabText {
  align-items: center;
  display: flex;
  justify-content: center;
}
.tabava {
  list-style: none;
  display: flex;
  gap: 0.3rem;
}
.recbox {
  margin-top: 33px;
  margin-left: 400px;
  width: 740px;
  height: 300px;
  border-radius: 10px;
  border: solid #100080;
  justify-content: center;
}
.boxx {
  margin-top: 90px;
  width: 50%;
  height: 370px;
  border-radius: 10px;
  border: solid #100080;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
}
.dt {
  display: flex;
}
.tableRecord {
  margin-left: 200px;
  height: 670px;
  width: 75%;
  border-radius: 10px;
  border: solid #100080;
  margin-top: 80px;
  box-shadow: 0 12px 34px rgba(0, 0, 0, 0.12);
}
.sub {
  margin-bottom: 20px;
}
